### First we set up the notebook and import our tools.  I will run this book on kernal PUI2016_Python3

In [1]:
from __future__ import print_function, division
import geopandas as gp
import pandas as pd
import pylab as pl
import os
import json
import seaborn as sns
import matplotlib as plt
import numpy as np
import sys

#s = json.load( open(os.getenv('PUI2016')+'/fbb_matplotlibrc.json') )
#pl.rcParams.update(s)
if os.getenv("PUIDATA") is None:
    print ("$PUIDATA to point to set PUIdata dir")

%pylab inline
print(os.getenv("PUIDATA"))

Populating the interactive namespace from numpy and matplotlib
/home/cusp/cjs676/PUIdata

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

Below is the function which will get and move the citibike data

In [2]:


#check if the env variable PUIDATA exists
if os.getenv("PUIDATA") is None:
    print ("must set PUIDATA env variable")
    sys.exit()

def getCitiBikeCSV(datestring):
    '''Downloads citibike data and unzips it. If the data is downloaded by not unzippeds it zips it. Moves the data to $PUIDATA
    Arguments:
        date string as yyyymm
    '''
    print ("Downloading", datestring)
    ### First I will heck that it is not already there
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        if os.path.isfile(datestring + "-citibike-tripdata.csv"):
            # if in the current dir just move it
            if os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA")):
                print ("Error moving file!, Please check!")
        #otherwise start looking for the zip file
        else:
            if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip"):
                if not os.path.isfile(datestring + "-citibike-tripdata.zip"):
                    os.system("curl -O https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
                ###  To move it I use the os.system() functions to run bash commands with arguments
                os.system("mv " + datestring + "-citibike-tripdata.zip " + os.getenv("PUIDATA"))
            ### unzip the csv 
            os.system("unzip " + os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip")
            ## NOTE: old csv citibike data had a different name structure. 
            if '2014' in datestring:
                os.system("mv " + datestring[:4] + '-' +  datestring[4:] + 
                          "\ -\ Citi\ Bike\ trip\ data.csv " + datestring + "-citibike-tripdata.csv")
            os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA"))
    ### One final check:
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        print ("WARNING!!! something is wrong: the file is not there!")

    else:
        print ("file in place, you can continue")

Now we will get the data 201506 first #edit:  success, checked with the Terminal

In [3]:
datestring = '201506'
getCitiBikeCSV(datestring)

Downloading 201506
file in place, you can continue

###### Now we will get the 201601 data #edit success, checked with the Terminal

In [4]:
datestring = '201601'
getCitiBikeCSV(datestring)

Downloading 201601
file in place, you can continue

Now we will load the citibike data into datframes
cb15 = 201506 data
cb16 = 201601 data

In [5]:
cb15 = pd.read_csv((os.getenv("PUIDATA") + "/" + '201506' + "-citibike-tripdata.csv"))

#The line line was to test if the path was proper. It is now commented out
#print((os.getenv("PUIDATA") + "/" + '201506' + "-citibike-tripdata.csv"))

In [6]:
#Check to see if the file was read
cb15.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

Repeating the process for the next file.

In [7]:
cb16 = pd.read_csv((os.getenv("PUIDATA") + "/" + '201601' + "-citibike-tripdata.csv"))

#The line line was to test if the path was proper. It is now commented out
#print((os.getenv("PUIDATA") + "/" + '201601' + "-citibike-tripdata.csv"))

In [8]:
cb16.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

#Success.  
Now to try to get the IRS data. 
From investigation on the IRS page: File 14zp33ny.xls = https://www.irs.gov/pub/irs-soi/14zp33ny.xls

#First attempt.  Trying to use the hint =on the midterm = ver1. I didnt know where the file was exactly

This time I will use curl and move it

#datestring = '201601'
#getCitiBikeCSV(datestring)

def readIncomeXls(url):
    return pd.read_excel(url, header=3, index_col="ZIP\ncode [1]")

In [9]:
#url = https://www.irs.gov/pub/irs-soi/14zp33ny.xls
os.system('curl -O https://www.irs.gov/pub/irs-soi/14zp33ny.xls')

0

In [10]:
mv 14zp33ny.xls $PUIDATA

mv: setting attribute `security.selinux' for `security.selinux': Permission denied

In [11]:
irs = pd.read_excel((os.getenv("PUIDATA") + "/" + '14zp33ny.xls'), header=3, index_col="ZIP\ncode [1]")
#14zp33ny.xls

#print(os.getenv("PUIDATA") + "/" + '14zp33ny.xls')

Check to see if the file was aquired

In [12]:
irs.head(5)

,Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],Unnamed: 10,...,Total tax liability [9],Unnamed: 116,Additional Medicare tax,Unnamed: 118,Net investment income tax,Unnamed: 120,Tax due at time of filing [10],Unnamed: 122,Overpayments refunded [11],Unnamed: 124
ZIP code [1],,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,Number of volunteer income tax assistance (VIT...,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8,-9,...,-114,-115,-116,-117,-118,-119,-120,-121,-122,-123
0,Total,9397410.0,4750550.0,2942890.0,1515950.0,6110600.0,17322490.0,5539120.0,279510,197150,...,7229610,129761061,280780,900175,300410,2745701,1781540,10177242,7115810,25052463
0,"$1 under $25,000",3617400.0,2432240.0,468500.0,665410.0,2247810.0,5220510.0,1678560.0,187260,136800,...,1804270,1677200,0,0,0,0,451080,361017,2886740,6049923
0,"$25,000 under $50,000",2070870.0,1103290.0,449390.0,467540.0,1280840.0,3729240.0,1219770.0,69390,49620,...,1769800,4790944,0,0,0,0,287080,461908,1747120,4510472

In [13]:
#reset the index so that I can use the zipcode column
irs = irs.reset_index()

In [14]:
irs.columns

Index(['ZIP\ncode [1]', 'Size of adjusted gross income', 'Number of returns',
       'Number of single returns', 'Number of joint returns',
       'Number of head of household returns',
       'Number with paid preparer's signature', 'Number of exemptions',
       'Number of dependents', 'Number of volunteer prepared returns [2]',
       ...
       'Total tax liability [9]', 'Unnamed: 116', 'Additional Medicare tax',
       'Unnamed: 118', 'Net investment income tax', 'Unnamed: 120',
       'Tax due at time of filing [10]', 'Unnamed: 122',
       'Overpayments refunded [11]', 'Unnamed: 124'],
      dtype='object', length=125)

In [22]:
#Convert the 'Zip\ncode [1]' to a number
irs['ZIP\ncode [1]'] = pd.to_numeric(irs['ZIP\ncode [1]'], errors='coerce')
irs['ZIP\ncode [1]'] = pd.to_numeric(irs['ZIP\ncode [1]'], errors='coerce')

In [24]:
#check the datatype
dtype(irs['ZIP\ncode [1]'])

dtype('float64')

In [25]:
irs.head(5)

,ZIP code [1],Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],...,Total tax liability [9],Unnamed: 116,Additional Medicare tax,Unnamed: 118,Net investment income tax,Unnamed: 120,Tax due at time of filing [10],Unnamed: 122,Overpayments refunded [11],Unnamed: 124
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8,...,-114,-115,-116,-117,-118,-119,-120,-121,-122,-123
2,0.0,Total,9397410.0,4750550.0,2942890.0,1515950.0,6110600.0,17322490.0,5539120.0,279510,...,7229610,129761061,280780,900175,300410,2745701,1781540,10177242,7115810,25052463
3,0.0,"$1 under $25,000",3617400.0,2432240.0,468500.0,665410.0,2247810.0,5220510.0,1678560.0,187260,...,1804270,1677200,0,0,0,0,451080,361017,2886740,6049923
4,0.0,"$25,000 under $50,000",2070870.0,1103290.0,449390.0,467540.0,1280840.0,3729240.0,1219770.0,69390,...,1769800,4790944,0,0,0,0,287080,461908,1747120,4510472

In [26]:
irs.columns

Index(['ZIP\ncode [1]', 'Size of adjusted gross income', 'Number of returns',
       'Number of single returns', 'Number of joint returns',
       'Number of head of household returns',
       'Number with paid preparer's signature', 'Number of exemptions',
       'Number of dependents', 'Number of volunteer prepared returns [2]',
       ...
       'Total tax liability [9]', 'Unnamed: 116', 'Additional Medicare tax',
       'Unnamed: 118', 'Net investment income tax', 'Unnamed: 120',
       'Tax due at time of filing [10]', 'Unnamed: 122',
       'Overpayments refunded [11]', 'Unnamed: 124'],
      dtype='object', length=125)

In [41]:
#"Adjusted gross income (AGI) [3]"
dtype(irs["Adjusted gross income (AGI) [3]"])

dtype('float64')

In [42]:
dtype(irs['Number of returns'])

dtype('float64')

In [29]:
#MAKE THE NEW DATAFRAME .zipincome
#	zipcodes	income	N	Njoint	Ndeps	incomePC
irs.head(5)

,ZIP code [1],Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],...,Total tax liability [9],Unnamed: 116,Additional Medicare tax,Unnamed: 118,Net investment income tax,Unnamed: 120,Tax due at time of filing [10],Unnamed: 122,Overpayments refunded [11],Unnamed: 124
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8,...,-114,-115,-116,-117,-118,-119,-120,-121,-122,-123
2,0.0,Total,9397410.0,4750550.0,2942890.0,1515950.0,6110600.0,17322490.0,5539120.0,279510,...,7229610,129761061,280780,900175,300410,2745701,1781540,10177242,7115810,25052463
3,0.0,"$1 under $25,000",3617400.0,2432240.0,468500.0,665410.0,2247810.0,5220510.0,1678560.0,187260,...,1804270,1677200,0,0,0,0,451080,361017,2886740,6049923
4,0.0,"$25,000 under $50,000",2070870.0,1103290.0,449390.0,467540.0,1280840.0,3729240.0,1219770.0,69390,...,1769800,4790944,0,0,0,0,287080,461908,1747120,4510472

In [53]:


#df['Col3'] = (df['Col2'] <= 1).astype(int)
#
irs['incomePC'] = ((irs['Adjusted gross income (AGI) [3]']) / (irs['Number of returns'] + irs['Number of dependents'] + irs['Number of joint returns']))

In [54]:
#MAKE THE NEW DATAFRAME .zipincome
#	zipcodes	income	N	Njoint	Ndeps	incomePC
zipincome = irs[['ZIP\ncode [1]','Adjusted gross income (AGI) [3]','Number of returns', 'Number of joint returns', 'Number of dependents', 'incomePC']]

In [55]:
zipincome.head(5)

,ZIP code [1],Adjusted gross income (AGI) [3],Number of returns,Number of joint returns,Number of dependents,incomePC
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,-11.0,-1.0,-3.0,-7.0,1.000000
2,0.0,766646080.0,9397410.0,2942890.0,5539120.0,42.878688
3,0.0,43301874.0,3617400.0,468500.0,1678560.0,7.511870
4,0.0,75271045.0,2070870.0,449390.0,1219770.0,20.125786

In [64]:
#Rename the columns
#zipcodes	income	N	Njoint	Ndeps	incomePC
#df=df.rename(columns = {'two':'new_name'})
zipincome = zipincome.rename(columns = {'ZIP\ncode [1]': 'zipcodes','Adjusted gross income (AGI) [3]':'income', 'Number of joint returns': 'Njoint', 
                                       'Number of dependents': 'Ndeps'})

In [65]:
zipincome.head(5)

   zipcodes       income  Number of returns     Njoint      Ndeps   incomePC
0       NaN          NaN                NaN        NaN        NaN        NaN
1       NaN        -11.0               -1.0       -3.0       -7.0   1.000000
2       0.0  766646080.0          9397410.0  2942890.0  5539120.0  42.878688
3       0.0   43301874.0          3617400.0   468500.0  1678560.0   7.511870
4       0.0   75271045.0          2070870.0   449390.0  1219770.0  20.125786

In [75]:
#Remove Nan values 
zipincome.dropna(subset=['zipcodes'])

,zipcodes,income,Number of returns,Njoint,Ndeps,incomePC
2,0.0,766646080.0,9397410.0,2942890.0,5539120.0,42.878688
3,0.0,43301874.0,3617400.0,468500.0,1678560.0,7.511870
4,0.0,75271045.0,2070870.0,449390.0,1219770.0,20.125786
5,0.0,76727346.0,1248170.0,417090.0,690410.0,32.571347
6,0.0,69807714.0,805170.0,408350.0,509330.0,40.518742
7,0.0,160015013.0,1171760.0,818600.0,963610.0,54.169478
8,0.0,341523088.0,484040.0,380960.0,477440.0,254.404732
10,10001.0,2363960.0,14080.0,2410.0,3250.0,119.754813
11,10001.0,44778.0,3880.0,350.0,930.0,8.677907
12,10001.0,93575.0,2530.0,250.0,680.0,27.044798
13,10001.0,114745.0,1850.0,190.0,330.0,48.415612
14,10001.0,112658.0,1300.0,170.0,200.0,67.459880
15,10001.0,329084.0,2350.0,530.0,410.0,100.025532
16,10001.0,1669120.0,2170.0,920.0,700.0,440.401055
18,10002.0,2215542.0,43370.0,11040.0,19160.0,30.114748
19,10002.0,267152.0,23350.0,6160.0,10300.0,6.710676
20,10002.0,298008.0,8270.0,1860.0,4550.0,20.300272
21,10002.0,275474.0,4500.0,660.0,1530.0,41.176981
22,10002.0,216709.0,2510.0,510.0,870.0,55.709254
23,10002.0,436247.0,3200.0,1090.0,1140.0,80.340147
24,10002.0,721952.0,1540.0,760.0,770.0,235.163518
26,10003.0,6910992.0,29810.0,5460.0,4790.0,172.516026
27,10003.0,60853.0,5380.0,340.0,540.0,9.720927
28,10003.0,159932.0,4240.0,330.0,480.0,31.669703
29,10003.0,273977.0,4410.0,330.0,400.0,53.302918
30,10003.0,291062.0,3350.0,370.0,280.0,72.765500
31,10003.0,884613.0,6280.0,1280.0,810.0,105.688530
32,10003.0,5240555.0,6150.0,2810.0,2280.0,466.241548
34,10004.0,925417.0,2540.0,840.0,1130.0,205.192239
35,10004.0,3544.0,330.0,30.0,60.0,8.438095
...,...,...,...,...,...,...
12319,14901.0,34501.0,280.0,230.0,230.0,46.622973
12320,14901.0,14957.0,40.0,30.0,0.0,213.671429
12322,14903.0,220263.0,3710.0,1390.0,2030.0,30.892426
12323,14903.0,17094.0,1380.0,160.0,490.0,8.420690
12324,14903.0,32066.0,890.0,230.0,460.0,20.294937
12325,14903.0,33886.0,560.0,280.0,340.0,28.716949
12326,14903.0,28824.0,340.0,250.0,230.0,35.151220
12327,14903.0,51907.0,390.0,340.0,360.0,47.621101
12328,14903.0,56486.0,150.0,130.0,150.0,131.362791
12330,14904.0,259029.0,7140.0,2140.0,4250.0,19.144789
12331,14904.0,42899.0,3380.0,420.0,1870.0,7.565961
12332,14904.0,69879.0,1940.0,540.0,1130.0,19.357064
12333,14904.0,61104.0,1000.0,520.0,680.0,27.774545
12334,14904.0,41974.0,490.0,370.0,330.0,35.272269
12335,14904.0,43173.0,330.0,290.0,240.0,50.201163
12336,14904.0,0.0,0.0,0.0,0.0,NaN
12338,14905.0,287682.0,4370.0,1680.0,2200.0,34.870545
12339,14905.0,17659.0,1510.0,170.0,550.0,7.918834
12340,14905.0,32813.0,900.0,230.0,400.0,21.446405
12341,14905.0,42486.0,680.0,280.0,300.0,33.719048
12342,14905.0,38914.0,450.0,300.0,300.0,37.060952
12343,14905.0,83374.0,640.0,540.0,490.0,49.924551
12344,14905.0,72436.0,190.0,160.0,160.0,142.031373
12346,99999.0,14338084.0,88940.0,28130.0,43810.0,89.122849
12347,99999.0,405636.0,32590.0,4650.0,13420.0,8.007027
12348,99999.0,705677.0,19350.0,4180.0,9310.0,21.488337
12349,99999.0,731847.0,11900.0,3970.0,5580.0,34.118741
12350,99999.0,634812.0,7340.0,3680.0,3860.0,42.662097
12351,99999.0,1422389.0,10390.0,6450.0,6120.0,61.950740
12352,99999.0,10437723.0,7370.0,5200.0,5520.0,576.988557

In [79]:
#drop duplicate values in columns
zipincome.drop_duplicates('zipcodes', take_last=False, inplace=False)

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: the take_last=False keyword is deprecated, use keep='first' instead
  from ipykernel import kernelapp as app

,zipcodes,income,Number of returns,Njoint,Ndeps,incomePC
0,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,766646080.0,9397410.0,2942890.0,5539120.0,42.878688
10,10001.0,2363960.0,14080.0,2410.0,3250.0,119.754813
18,10002.0,2215542.0,43370.0,11040.0,19160.0,30.114748
26,10003.0,6910992.0,29810.0,5460.0,4790.0,172.516026
34,10004.0,925417.0,2540.0,840.0,1130.0,205.192239
42,10005.0,5545849.0,5890.0,1340.0,1340.0,647.123571
50,10006.0,440723.0,2450.0,490.0,520.0,127.376590
58,10007.0,2047053.0,3350.0,1200.0,1520.0,337.241021
66,10009.0,2580470.0,33310.0,5030.0,9590.0,53.838306
74,10010.0,3989916.0,17550.0,3560.0,3340.0,163.186748
82,10011.0,7959849.0,30270.0,5700.0,5510.0,191.896070
90,10012.0,3198843.0,12810.0,2510.0,2350.0,181.032428
98,10013.0,6290937.0,15030.0,4530.0,5670.0,249.343520
106,10014.0,5752292.0,19040.0,3410.0,3010.0,225.934485
114,10016.0,7399251.0,32020.0,5850.0,5360.0,171.160097
122,10017.0,4575496.0,12060.0,3050.0,2890.0,254.194222
130,10018.0,2787956.0,6260.0,1200.0,1400.0,314.667720
138,10019.0,7197519.0,24490.0,4830.0,5100.0,209.108629
146,10021.0,12181504.0,24090.0,6790.0,6500.0,325.882932
154,10022.0,12325088.0,20130.0,5550.0,4620.0,406.768581
162,10023.0,12398465.0,33720.0,9440.0,9580.0,235.086557
170,10024.0,10130871.0,30910.0,9620.0,11090.0,196.258640
178,10025.0,6878015.0,46810.0,11560.0,17780.0,90.321930
186,10026.0,1109931.0,18150.0,2570.0,10190.0,35.908476
194,10027.0,1517278.0,27370.0,3980.0,14780.0,32.891351
202,10028.0,9645238.0,25750.0,7150.0,7600.0,238.154025
210,10029.0,1749918.0,34700.0,4930.0,21920.0,28.430837
218,10030.0,520457.0,13700.0,1210.0,8470.0,22.260778
226,10031.0,1111913.0,29630.0,3360.0,15880.0,22.752466
...,...,...,...,...,...,...
12114,14865.0,53255.0,1160.0,420.0,570.0,24.769767
12122,14867.0,125246.0,2700.0,1030.0,1430.0,24.272481
12130,14869.0,28737.0,640.0,240.0,380.0,22.807143
12138,14870.0,352772.0,4540.0,1960.0,2560.0,38.937307
12146,14871.0,130825.0,2170.0,1040.0,950.0,31.448317
12154,14872.0,11678.0,260.0,100.0,140.0,23.356000
12162,14873.0,44815.0,1030.0,470.0,650.0,20.844186
12170,14874.0,4882.0,110.0,40.0,30.0,27.122222
12178,14877.0,8844.0,200.0,100.0,140.0,20.100000
12186,14878.0,13312.0,300.0,140.0,180.0,21.470968
12194,14879.0,43357.0,990.0,430.0,600.0,21.463861
12202,14880.0,28776.0,690.0,340.0,330.0,21.158824
12210,14881.0,6858.0,150.0,40.0,70.0,26.376923
12218,14882.0,130248.0,1950.0,810.0,1000.0,34.640426
12226,14883.0,87002.0,1820.0,770.0,1010.0,24.167222
12234,14884.0,6453.0,150.0,60.0,80.0,22.251724
12242,14885.0,11766.0,310.0,140.0,230.0,17.302941
12250,14886.0,199799.0,3340.0,1380.0,1610.0,31.563823
12258,14889.0,28297.0,670.0,270.0,400.0,21.117164
12266,14891.0,95371.0,2030.0,780.0,920.0,25.568633
12274,14892.0,165927.0,3680.0,1330.0,2100.0,23.337131
12282,14894.0,27643.0,650.0,270.0,360.0,21.596094
12290,14895.0,199020.0,4070.0,1580.0,2250.0,25.192405
12298,14897.0,16769.0,370.0,190.0,250.0,20.702469
12306,14898.0,25837.0,620.0,290.0,500.0,18.324113
12314,14901.0,196789.0,5530.0,1430.0,3440.0,18.922019
12322,14903.0,220263.0,3710.0,1390.0,2030.0,30.892426
12330,14904.0,259029.0,7140.0,2140.0,4250.0,19.144789
12338,14905.0,287682.0,4370.0,1680.0,2200.0,34.870545
12346,99999.0,14338084.0,88940.0,28130.0,43810.0,89.122849

Part #3

In [81]:
cb15.head(15)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0
5,690,6/1/2015 0:03,6/1/2015 0:15,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,410,Suffolk St & Stanton St,40.720664,-73.985180,20857,Subscriber,1976.0,1
6,766,6/1/2015 0:04,6/1/2015 0:17,346,Bank St & Hudson St,40.736529,-74.006180,2003,1 Ave & E 18 St,40.733812,-73.980544,15978,Subscriber,1976.0,1
7,1160,6/1/2015 0:06,6/1/2015 0:25,512,W 29 St & 9 Ave,40.750073,-73.998393,445,E 10 St & Avenue A,40.727408,-73.981420,17306,Subscriber,1962.0,2
8,550,6/1/2015 0:07,6/1/2015 0:16,525,W 34 St & 11 Ave,40.755942,-74.002116,447,8 Ave & W 52 St,40.763707,-73.985162,18392,Subscriber,1973.0,1
9,545,6/1/2015 0:08,6/1/2015 0:17,403,E 2 St & 2 Ave,40.725029,-73.990697,439,E 4 St & 2 Ave,40.726281,-73.989780,16300,Subscriber,1958.0,1
10,752,6/1/2015 0:08,6/1/2015 0:21,441,E 52 St & 2 Ave,40.756014,-73.967416,492,W 33 St & 7 Ave,40.750200,-73.990931,16874,Subscriber,1964.0,1
11,1743,6/1/2015 0:08,6/1/2015 0:37,329,Greenwich St & N Moore St,40.720434,-74.010206,147,Greenwich St & Warren St,40.715422,-74.011220,14726,Subscriber,1982.0,2
12,964,6/1/2015 0:10,6/1/2015 0:27,505,6 Ave & W 33 St,40.749013,-73.988484,377,6 Ave & Canal St,40.722438,-74.005664,18699,Subscriber,1985.0,2
13,207,6/1/2015 0:11,6/1/2015 0:14,294,Washington Square E,40.730494,-73.995721,439,E 4 St & 2 Ave,40.726281,-73.989780,17390,Subscriber,1989.0,1
14,511,6/1/2015 0:13,6/1/2015 0:21,257,Lispenard St & Broadway,40.719392,-74.002472,408,Market St & Cherry St,40.710762,-73.994004,14777,Subscriber,1983.0,2

In [91]:
import json
try:
    import urllib2 as urllib
except ImportError:
    import urllib.request as urllib


def get_jsonparsed_data(url):
    """
    from http://stackoverflow.com/questions/12965203/how-to-get-json-from-webpage-into-python-script
    Receive the content of ``url``, parse it as JSON and return the object.
    Parameters
    ----------
    url : str
    Returns
    -------
    dict
    """
    response = urllib.urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

In [126]:
##Get the 15 data
#Now i have this data. I dont know how to merge it with the dataframe. 


cb15statloc = (get_jsonparsed_data('http://cosmo.nyu.edu/~fb55/UI_CUSP_2015/data/stationsZips2015.json'))

In [131]:
zipincome3 = pd.read_json('http://cosmo.nyu.edu/~fb55/UI_CUSP_2015/data/stationsZips2015.json')

ValueError: If using all scalar values, you must pass an index

In [121]:
cb15statloc.from_dict(cb15statloc, orient='columns', dtype=None)

AttributeError: 'dict' object has no attribute 'from_dict'

In [118]:
pd.DataFrame([[key,value] for key,value in cb15statloc.iteritems()],columns=["key_col","val_col"])

AttributeError: 'dict' object has no attribute 'iteritems'

In [112]:
#Change it into a data frame
#This did not work really
s1 = pd.Series(cb15statloc, name='zipcodes')
s1.index.name = 'start station id'

In [113]:
#change into data frame
s1.reset_index()

    start station id  zipcodes
0                116     10011
1                119     11205
2                120      1476
3                127      2823
4                128      2926
5                137     10022
6                143      4701
7                144     11201
8                146      3886
9                147     10282
10               150     10009
11               151      4023
12               152     10007
13               153     10016
14               157     11201
15               160     10016
16               161     10012
17               164      2101
18               167       914
19               168     10011
20               173      6810
21               174      2533
22               195     10045
23              2000      1007
24              2001     11201
25              2002      3912
26              2003     10009
27              2004     10013
28              2005     11249
29              2006     10019
..               ...       ...
296              515      6323
297              516     10017
298              517     10168
299              518     10016
300              519     10168
301              520     10019
302              521      2755
303              522     10022
304              523     10018
305              524      7408
306              525     10001
307              526      5003
308              527     10016
309              528      6307
310              529     10036
311              530     10019
312              531     10002
313              532     11211
314              533     10018
315              534     10004
316              536      6525
317              537     10010
318              538     10017
319              539     11249
320              545     10010
321              546     10016
322               72     10019
323               79      2984
324               82     10038
325               83     11217

[326 rows x 2 columns]

In [110]:
cb15.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

In [116]:
dtype(cb15['start station id'])

dtype('int64')

In [115]:
#MERGE MERGE MERGE
##on start station ID
#bblnrgdata = bsize2.merge(nrg2, how='inner', on='BBL')
cb15final = cb15.merge(s1, how='inner', on='start station id')

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>